.jumbotron {
    margin-top: 100px;
    background: url(acloud_logo_white.svg) 877px 110px no-repeat #1C2331;
    background-size: 20%;
    padding: 2rem 2rem;
}

.display-3, .lead, p {
    color: #fff;
}

.btn {
    font-size: 1.25rem;
    font-weight: 500;
}
