.col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.make_file_cloud {
    min-height: 344px;
}

.plan_name_header {
    font-size: 14px;
}

.subs_content {
    margin-top: 45px;
}

.subs_block {
    padding: 1rem;
    margin: 0.5rem 0;
    background-color: #1C2331;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

.prom_acloud_title > div {
    display: inline-block;
    margin-left: 5px;
}

.popover {
    min-width: 588px;
}

.popover-header {
    color: #000;
}

.modal-content {
    background-color: #1C2331;
}

.close {
    color: #fff;
    opacity: 1;
}

.close:not(:disabled):not(.disabled):hover {
    color: #fff;
    opacity: 0.9;
}

.sub_file_cloud_title {
    padding-top: 4rem;
}

.form-group {
    width: 600px;
}

.list-unstyled {
    text-align: left;
    font-size: 1rem;
}

.md-form input[type=text] {
    color: #fff;
}

.md-form input[type=password] {
    color: #fff;
}

.md-form input[type=text]:focus:not([readonly]) {
border-bottom: 1px solid #ff4444;
box-shadow: 0 1px 0 0 #ff4444;
color: #fff;
}

.md-form input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid #ff4444;
    box-shadow: 0 1px 0 0 #ff4444;
    color: #fff;
}

.md-form ::-webkit-input-placeholder {
    color: #fff;
    opacity: 0.8;
}


.input-range__track--active {
    background: #ff4444;
}

.input-range__slider {
    background: #ff4444;
    border: 1px solid #ff4444;
}

.custom-select {
    margin-bottom: 10px;
}

.modal-footer {
    margin-top: 20px;
}

.folder_logo {
    width: 150px;
    height: 150px;
}